# Use the string that has already been typed as the prefix for searching
# # through commands (i.e. more intelligent Up/Down-arrow behavior)
"\e[A": history-search-backward
"\e[B": history-search-forward

#completion list potentials results if there's more than one
set show-all-if-ambiguous on

# vim-like input
set editing-mode vi
set keymap vi-command

# # f<tab> finds `Foo` and `foo`.
set completion-ignore-case on

# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on
set mark-directories on

# # Underscore and hypen treated equivalently
set completion-map-case on

# Show all autocomplete results at once
set page-completions off

# Show extra file information when completing, like `ls -F` does
set visible-stats on

#completion ask for display if there is more than XXX results
set completion-query-items 200
