[submodule "dotfiles/.vim/bundle/jedi-vim"]
	path = dotfiles/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "dotfiles/.vim/bundle/vim-autoclose"]
	path = dotfiles/.vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose
[submodule "dotfiles/.vim/bundle/csapprox"]
	path = dotfiles/.vim/bundle/csapprox
	url = https://github.com/vim-scripts/CSApprox
[submodule "dotfiles/.vim/bundle/vim-airline"]
	path = dotfiles/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "dotfiles/.vim/bundle/minibufexpl.vim"]
	path = dotfiles/.vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim
